div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    margin: 16px;
}

a {
    text-decoration: none;
}

a h1 {
    color: black;
    font-size: 42px;
}

ul {
    display: flex;
    gap: 16px;
}

ul li {
    list-style: none;
    font-size: 24px;
}